#botaoMenu {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: gray;
    width: 80px;
}

#mainMenu {
    background-color: rgb(167, 44, 0);
    position: absolute;
    top: 10%;
    left: 5%;
    width: 620px;
    height: 450px;
}

#menuStats {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#menuEquip {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 600px;
}

#menuNomeClasseGenero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 600px;
    padding: 10px;
}

#menuNome {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 180px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuGenero {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 180px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuClasse {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    color: white;
    width: 180px;
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuVidaEnergiaMana {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    top: 20%;
    left: 5%;
    width: 600px;
    padding: 10px;
}

#menuVida {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 180px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEnergia {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 180px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuMana {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 180px;
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEquipAtaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    left: 5%;
    width: 300px;
    padding: 10px;
}

#menuArma {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 280px;
    height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuDano {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 150px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEnergiaCusto {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 150px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuManaCusto {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 150px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEquipDefesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    left: 31%;
    width: 300px;
    padding: 10px;
    margin-left: 8px;
}

#menuArmadura {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 280px;
    height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuDefesa {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 150px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEnergiaRecuperacao {
    text-align: center;
    align-self: center;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 150px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuManaRecuperacao {
    text-align: center;
    align-self: center;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 150px;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

/*#mensagemSafeZone {
    position: absolute;
    text-align: justify;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    margin: 0px;
    padding: 10px 0px 0px 10px;
    width: 1000px;
    height: 200px;
    border: solid 3px black;
    border-radius: 5%;
}*/

#botaoGoblin {
    position: absolute;
    background-color: gray;
    top: 550px;
    left: 20%;
    transform: translate(-50%);
    width: 300px;
    height: 50px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black;
    border-radius: 20%;
}

/*----------------------GOLEM--------------------GOLEM--------------------GOLEM--------------------GOLEM--------------------GOLEM---------------------------------------------------------------------------*/

#botaoGolem {
    position: absolute;
    background-color: gray;
    top: 550px;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 50px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black;
    border-radius: 20%;
}

#botaoDragao {
    position: absolute;
    background-color: gray;
    top: 550px;
    left: 80%;
    transform: translate(-50%);
    width: 300px;
    height: 50px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black;
    border-radius: 20%;
}