/*----------------------------------------SELEÇÃO DE ARMA----------------------------------------*/
#voltarArma{
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    position: absolute;
    top: 5%;
    left: 5%;
}

#mensagemArma {
    text-align: center;
    padding-top: 2%;
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainArma {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2% 0 2%;
}

#arma1Barra {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 5%;
    margin: 0px 0px 0px 0px;
    width: 30%;
}

#arma1 {
    margin: 5% 0 0 0%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 25pt;
    width: 75%;
    height: 50px;
}

#caracteristicaArma1 {
    text-align: justify;
    padding: 1% 1% 0% 1%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 12pt;
    width: 85%;
    height: 100px;
}

#statsArma1 {
    text-align: center;
    padding-top: 1%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 11pt;
    width: 86%;
    height: 25px;
}

#arma2Barra {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    margin: 0px 0px 0px 0px;
    width: 30%;
}

#arma2 {
    margin: 5% 0 0 0%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 25pt;
    width: 75%;
    height: 50px;
}

#caracteristicaArma2 {
    text-align: justify;
    padding: 10px 10px 0px 10px;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 12pt;
    width: 81%;
    height: 100px;
}

#statsArma2 {
    text-align: center;
    padding-top: 1%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 11pt;
    width: 86%;
    height: 25px;
}

#arma3Barra {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 5%;
    margin: 0 0 0 0px;
    width: 30%;
}

#arma3 {
    margin: 5% 0 0 0%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 25pt;
    width: 75%;
    height: 50px;
}

#caracteristicaArma3 {
    text-align: justify;
    padding: 10px 10px 0px 10px;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 12pt;
    width: 80%;
    height: 100px;
}

#statsArma3 {
    text-align: center;
    padding-top: 1%;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    font-size: 11pt;
    width: 85%;
    height: 25px;
}

/*----------------------------------------------------------------------------------------------------*/
