/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#goblin{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 40%;
    margin: 0px;
    padding: 0px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
#goblinNome{
    text-align: center;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: solid 3px black;
    border-radius: 25%;
}
#goblinVida{
    text-align: center;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    width: 80%;
    border: solid 3px black;
    border-radius: 25%;
}
#goblinEnergia{
    text-align: center;
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    width: 50%;
    border: solid 3px black;
    border-radius: 25%;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#golem{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 40%;
    margin: 0px;
    padding: 0px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
#golemNome{
    text-align: center;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: solid 3px black;
    border-radius: 25%;
}
#golemVida{
    text-align: center;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    width: 80%;
    border: solid 3px black;
    border-radius: 25%;
}
#golemEnergia{
    text-align: center;
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    width: 50%;
    border: solid 3px black;
    border-radius: 25%;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#dragao{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 40%;
    margin: 0px;
    padding: 0px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
#dragaoNome{
    text-align: center;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: solid 3px black;
    border-radius: 25%;
}
#dragaoVida{
    text-align: center;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    width: 80%;
    border: solid 3px black;
    border-radius: 25%;
}
#dragaoMana{
    text-align: center;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    width: 50%;
    border: solid 3px black;
    border-radius: 25%;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
