/*----------------------------------------GERAL----------------------------------------*/
body {
    background-color: rgb(80, 80, 80);
}
main {
    position: relative;
    background-color: orangered;
    margin: auto;
    border: solid 5px black;
    border-radius: 10%;
    width: 90%;
    height: 610px;
}
/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------INICIO----------------------------------------*/
#mensagemInicio {
    text-align: center;
    padding-top: 10%;
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#botaoInicio {
    background-color: black;
    color: orangered;
    font-size: 60pt;
    border: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 35%;
    height: 200px;
}
@keyframes botaoAnimacao {
    0% {transform: scale(1.0)}
    0% {background-color: black;}
    50% {transform: scale(1.1)}
    50% {background-color: gray;}
    100% {background-color: black;}
}
/*----------------------------------------------------------------------------------------------------*/
