/*----------------------------------------SELEÇÃO DE GÊNERO----------------------------------------*/
#mensagemSelecao {
    text-align: center;
    padding-top: 10%;
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#botaoSelecao_M {
    background-color: black;
    color: orangered;
    font-size: 25pt;
    border: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
    height: 50px;
}
#botaoSelecao_F {
    background-color: black;
    color: orangered;
    font-size: 25pt;
    border: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
    height: 50px;
}
/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------SELEÇÃO DE NOME----------------------------------------*/
#mensagemUsuario {
    text-align: center;
    padding-top: 10%;
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nomeUsuario{
    background-color: black;
    color: orangered;
    border: solid 5px gray;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 50pt;
    width: 40%;
    height: 100px;
}
#enviarUsuario{
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    font-size: 25pt;
    width: 15%;
    height: 50px;
}
@keyframes botaoAnimacaoUsuario {
    0% {background-color: black;}
    50% {background-color: gray;}
    100% {background-color: black;}
}
/*----------------------------------------------------------------------------------------------------*/
