#botaoMenu {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: gray;
    width: 8%;
}

#mainMenu {
    background-color: rgb(167, 44, 0);
    border: solid 5px black;
    border-radius: 20%;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 87%;
    height: 85%;
    z-index: 9999;
}

#menuStats {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    width: 100%;
}

#menuEquip {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

#menuNomeClasseGenero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 31%;
    width: 60%; 
}

#menuNome {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 100%;
    margin: 0px 0px 0px 10%;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuGenero {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuClasse {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    color: white;
    width: 100%;
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuVidaEnergiaMana {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 31%;
    width: 60%; 
}

#menuVida {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 100%;
    margin: 0px 0px 0px 10%;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEnergia {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 100%;
    margin: 0px 0px 0px 10%;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuMana {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 100%;
    margin: 0px 0px 0px 10%;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEquipAtaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 31%;
    width: 30%; 
}

#menuArma {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 80%;
    height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuDano {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEnergiaCusto {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuManaCusto {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEquipDefesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 31%;
    width: 30%;   
}

#menuArmadura {
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 80%;
    height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuDefesa {
    text-align: center;
    align-self: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuEnergiaRecuperacao {
    text-align: center;
    align-self: center;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#menuManaRecuperacao {
    text-align: center;
    align-self: center;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 3px black;
    border-radius: 10%;
}

#botaoGoblin {
    position: absolute;
    background-color: gray;
    bottom: 5%;
    left: 20%;
    transform: translate(-50%);
    width: 25%;
    height: 50px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black;
    border-radius: 20%;
}

/*----------------------GOLEM--------------------GOLEM--------------------GOLEM--------------------GOLEM--------------------GOLEM---------------------------------------------------------------------------*/

#botaoGolem {
    position: absolute;
    background-color: gray;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 50px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black;
    border-radius: 20%;
}

#botaoDragao {
    position: absolute;
    background-color: gray;
    bottom: 5%;
    left: 80%;
    transform: translate(-50%);
    width: 25%;
    height: 50px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black;
    border-radius: 20%;
}